"Nvim config that
"Rename the file to init.vim and move it to ~/.config/nvim/init.vim to use
set nocompatible
set showmatch
set ignorecase
set mouse=v
set hlsearch
set incsearch
set tabstop=2
set softtabstop=2
set expandtab
set autoindent
set number
set wildmode=longest,list
set cc=80
syntax on
set ttyfast
set shiftwidth=2
